{% extends 'base.html.twig' %}

{% block title %}SHOP.FR | ADMINISTRATEUR{% endblock %}

{% block body %}

<div class="col-lg-9">
<h3 class="my-4">AJOUTER UN ARTICLE</h3>
        {{ form_start(form) }}

            {{ form_label(form.name, "nom : " | capitalize) }}
            {{ form_widget(form.name)}}

            {{ form_label(form.description, "description : " | capitalize) }}
            {{ form_widget(form.description)}}

            {{ form_label(form.image, "image : " | capitalize) }}
            {{ form_widget(form.image)}}

            {{ form_label(form.category, "categorie : " | capitalize) }}
            {{ form_widget(form.category)}}

            {{ form_label(form.price, "Prix : " | capitalize) }}
            {{ form_widget(form.price)}}

            

            <button class="btn mt-4 btn-primary">Valider</button>

        {{ form_end(form) }}
    

</div>
{% endblock %}

