{% extends 'parent.html.twig' %}

{% block title %}Hello FormulaireController!{% endblock %}

{% block body %}

<div class="col-lg-9">
<h1 class="my-4">Ajouter un article</h1>
        {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.image) }}
            {{ form_row(form.price) }}

            <button class="btn btn-primary">Valider</button>

        {{ form_end(form) }}
    

</div>
{% endblock %}
